<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="config" default="''"/>
    <arg name="rviz" default="false"/>
    <arg name="record" default="false"/>
    <arg name="robot" default="husky"/>
    <arg name="bag" default="$(dirname)/../data/bags/robingas/data/22-10-20-unhost/ugv_2022-10-20-14-30-57.bag"/>
    <arg name="params" default="$(eval bag.split()[0] + '.params')"/>
    <!-- Cloud preprocessing -->
    <arg name="filter_cloud" default="true"/>
    <arg name="min_depth" default="1.0"/>
    <arg name="max_depth" default="25.0"/>
    <arg name="grid_res" default="0.1"/>

    <!-- Robot data: from bag file -->
    <include file="$(dirname)/robot_bag.launch">
        <arg name="bag" value="$(arg bag)"/>
        <arg name="rviz" value="false"/>
        <arg name="rate" value="1"/>
        <arg name="robot" value="$(arg robot)"/>
    </include>

    <!-- Cloud preprocessing (filtering + deskewing) -->
    <include if="$(arg filter_cloud)" file="$(dirname)/cloud_proc.launch">
        <arg name="input" value="points"/>
        <arg name="output" value="points_filtered"/>
        <arg name="min_depth" value="$(arg min_depth)"/>
        <arg name="max_depth" value="$(arg max_depth)"/>
        <arg name="grid_res" value="$(arg grid_res)"/>
    </include>

    <!-- Point cloud deskewing -->
    <node name="pcl_deskew_node" pkg="pointcloud_motion_deskew" type="pointcloud2_deskew_node" output="screen" >
        <remap from="input_point_cloud" to="points_filtered" />
        <remap from="output_point_cloud" to="points_deskewed" />
	</node>

    <!-- SLAM -->
    <include file="$(dirname)/slam.launch">
        <arg name="cloud" value="points_deskewed"/>
        <arg name="odom_frame" value="odom"/>
        <arg name="robot_frame" value="base_link"/>
        <arg name="config" default="ctu"/>
    </include>

    <!-- RVIZ -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
          args="-d $(dirname)/../config/rviz/slam.rviz"/>

    <!-- Record new bag file with tf topic -->
    <node if="$(arg record)" pkg="rosbag" type="record" name="rosbag_record"
          args="/tf -O $(arg bag)_loc.bag"/>
</launch>
